# Path where cached data will be created and read from
# Choose a performant file system for these data

DATAPATH=/glade/work/csgteam/qs_cache

# Temporary data path used by gen_data when creating
# cached output from qstat

TMPPATH=/dev/shm

# Optional path for logging qstat invocations
# If set, a log will be created for each user on each day
# that records calls to qstat along with arguments
# If blank, logging will be disabled

LOGPATH=/glade/scratch/csgteam/qstatlogs

# The maximum wait time in seconds before the cache is
# bypassed and the real qstat is called

MAXWAIT=60

# Specify the location of the actual qstat command

QSTATBIN=/opt/pbs/bin/qstat

# Some sites may need to prefix calls to PBS with another
# command (e.g., a sudo operation). Use this variable to
# specify a prefix for PBS calls

PBSPREFIX="sudo -u csgteam"
